@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
}

.my-color {
    background: #00FFE5;
    background: linear-gradient(to bottom left, #00FFE5 0%, #004CCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-h {
    height: calc(100vh - 100px);
}